h1, h2, h3
{
    font-family: Verdana, Geneva, sans-serif;
    color: white;
}

table
{
    background-color:white;
    font-family:Tahoma, Geneva, sans-serif;
    color: black;
    border: 1px solid black;
    text-align: left;
    word-spacing: normal;
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

th,td
{
    font-family:Tahoma, Geneva, sans-serif;
    color: black;
    text-align: center;
    word-spacing: normal;
    border: 1px solid black;
}
th{
    padding: 5px;
}

iframe
{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    min-height: 470px;
    max-height: 700px;
}

a:link {font-family: Tahoma, Geneva, sans-serif ; color:white}
a:visited  {color:white}
a:active   {color:yellow}
a:hover    {color:blue}

body.main {
    background: cadetblue;
    background-size: cover;
    text-align: center;
}

.layer {
    background-color: rgba(255, 255, 255, 0.3);
    width: 80%;
    height: auto;
    text-align: center;
}

div {
    margin: auto;
}

.insertion_table{
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgba(95, 158,160, 0.3);
    color: White;
    border: none;
    text-align: left;
    word-spacing: normal;
    width:26%;
    padding: 10px;
    margin-left:37%;
    margin-right:37%;}

table.insertion_table tr, table.insertion_table td, table.insertion_table th{
    border: 0;
    text-align: left;
    padding: 7px;

}