h1, h2, h3, h4, h5, form
{
    font-family: Verdana, Geneva, sans-serif;
    color: white;
}

table
{
    table-layout: fixed;
    border-collapse: collapse;
    background-color:white;
    font-family:Tahoma, Geneva, sans-serif;
    color: black;
    text-align: left;
    word-spacing: normal;
}
table, th, td {
    border: 1px solid black;
}

th
{
    font-family:Tahoma, Geneva, sans-serif;
    color: black;
    text-align: center;
    word-spacing: normal;
}
p,li,th,td
{
    font-family:Tahoma, Geneva, sans-serif;
    color: black;
    text-align: center;
    word-spacing: normal;
}

hr
{
    color:white
}

iframe
{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}

a:link {font-family: Tahoma, Geneva, sans-serif ; color:white}
a:visited  {color:white}
a:active   {color:yellow}
a:hover    {color:blue}

body.main {
    background: black url("background.jpg");
    width: auto;
    text-align: center;

}

img {
}

.layer {
    background-color: rgba(255, 255, 255, 0.3);
    width: 80%;
}

div {
    margin: auto;
}


.fixed_headers {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;

}
table.fixed_headers{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;

    background-color:white;
    font-family:Tahoma, Geneva, sans-serif;
    color: black;
    text-align: left;
    word-spacing: normal;
}

th.fixed_headers {
    text-decoration: underline;
    font-family:Tahoma, Geneva, sans-serif;
    color: black;
    text-align: center;
    word-spacing: normal;
}

th.fixed_headers, td.fixed_headers {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}


thead tr.fixed_headers {
    display: block;
    position: relative;
    border: 1px solid black;
}

tbody.fixed_headers {
    display: block;
    overflow: auto;
    width: 100%;
    height: 350px;
    border: 1px solid black;

}

